.match-container{position: absolute;top: 2px;height: 115px;width: 900px;background-color: #212368;}
.main-container{position: absolute;top: 150px;height: 600px;width: 900px;}
.main-body{width: 100%;height: 550px;position: absolute;top: 67px;}
.table-match-container{border-left: 1px solid #CFCFCF;border-top: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;height: 100%;}
.table-match-container td{border-right: 1px solid #CFCFCF;padding-left: 4px;padding-right: 4px;}
.flag-item{box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;
-webkit-animation: flagAnimate 1s; /* Chrome, Safari, Opera */
animation: flagAnimate 1s;
-webkit-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;}
/* Chrome, Safari, Opera */
@-webkit-keyframes flagAnimate
{from {width:0px}to {width:85%}}
/* Standard syntax */
@keyframes flagAnimate
{from {width:0px}to {width:85%}}
.bSubmitPrediction{width: 150px;height: 50px;border-radius:8px;cursor: pointer;border: 1px solid #00D0C9;background-color: #00ECE4;
color: white;font-size: 20px;font-weight: bold;box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}
.comment-header{background: -webkit-linear-gradient(#001685, #00659F); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#001685, #00659F); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#001685, #00659F); /* For Firefox 3.6 to 15 */
background: linear-gradient(#001685, #00659F); /* Standard syntax */
color: white;font-size: 12px;font-weight: bold;font-family: Lao UI;padding-left: 10px;padding-top: 4px;}
.commentText{font-size: 12px;font-family: Lao UI;padding-left: 10px;padding-top: 4px;color: #606060;}
.bComment{border-radius : 6px;border: 1px solid silver;height: 26px;width: 100px;background-color: #001685;color: white;cursor: pointer;}
.comment-show{border-radius : 6px;border: 1px solid silver;padding-top: 20px;padding-left: 12px;font-size: 12px;font-family: Lao UI;padding-left: 20px;padding-top: 10px;color: #606060;}
.comment-head{color: #00E4E4;font-size: 14px;}
